.gig {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.left {
  flex: 1;
}

.seller {
  /* Styles for the seller div */
}

.user {
  /* Styles for the user div */
}

.right {
  flex: 1;
}

img {
  /* Styles for the img element */
}

h2 {
  color: white;
}

p {
  color: white;
}
