form {
     max-width: 300px;
     margin: 0 auto;
   }
   
   h2 {
     margin-bottom: 20px;
     text-align: center;
   }
   
   label {
     display: block;
     margin-bottom: 10px;
   }
   
   input[type="text"],
   input[type="email"],
   input[type="password"] {
     width: 100%;
     padding: 5px;
     border-radius: 3px;
   }
   
   button[type="submit"] {
     display: block;
     width: 50%;
     padding: 10px;
     border-radius: 3px;
     background-color: blue;
     color: white;
     font-weight: bold;
     display: block;
     margin: 0 auto;
   }