footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: #333333;
 
}

footer div {
  // display: flex;
  flex-direction: column;

}

footer p {
  margin-top: 10px;
  color: white;
  padding-left: 2em;
}

footer img {
  width: 40px;
  height: 20px;
  padding-left: 2em;
}
.rights {
 padding-inline-start: 7em;
}

.footer-payment {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-media {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }
}
