//variabler
$White: #FFFFFF;
$Black:#000000;
$Warmgrey:#AEA79F;
$Coolgrey: #333333;
$Textgrey:#111111;
$DarkSlateGray:#2F4F4F	rgb(47, 79, 79);
$DarkSlateBlue:#483D8B	rgb(72, 61, 139);
$RebeccaPurple:#663399	rgb(102, 51, 153);
$BlueViolet: #8A2BE2	rgb(138, 43, 226);
$Indigo:	#4B0082	rgb(75, 0, 130)
